LLM_BASE_URL=https://chat-ai.academiccloud.de/v1
LLM_MODEL=meta-llama-3.1-8b-instruct
LLM_API_KEY=INSERT_API_KEY_HERE
MCP_URL=http://localhost:8000/mcp
LLM_SUPPORTS_TOOL_MESSAGES=true
MAX_LLM_ITERATIONS=10